SCOPE_CLIENT_ID=
SCOPE_CLIENT_SECRET=""
SCOPE_URL="https://app.heyrecruit.de/api/v2"
SCOPE_TEMPLATE=""
BASE_PATH=""
ERROR_PAGE="error"
SUCCESS_PAGE="success"
COOKIE_BANNER=1
MAPS_API_KEY=""
RECAPTCHA_SITE_KEY=""
GOOGLE_TAG_MANAGER=""
DEBUG=1